# Frontend environment variables for Vite
# Copy to .env (DO NOT COMMIT .env with secrets)

VITE_AUTH0_DOMAIN=dev-ennfeex6067qq830.us.auth0.com
VITE_AUTH0_CLIENT_ID=oQhwS4edLquoqm7374bn5jt8J80MLWGJ
VITE_AUTH0_AUDIENCE=https://userdirectory-api
VITE_API_URL=http://localhost:5047/api/Users
